# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/

# Electron
*.exe
*.AppImage
*.dmg
*.deb
*.rpm
resources/

# Build output
dist/
out/
frontend/dist
build/
build/Release

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production
.env.development

# Editor folders
.vscode/
.idea/


# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*.sublime-workspace
